*{
	padding: 0;
	margin: 0
}
html{
	height:100%; 
	-webkit-text-size-adjust: 100%;
	text-size-adjust:100%;
	background: linear-gradient(0deg, #10171F, rgba(0, 0, 0, 0.1)), url("img/maxresdef.jpg") no-repeat fixed;
}
body{
	/*background: linear-gradient(0deg, #10171F, rgba(0, 0, 0, 0.1));*/
	height:100%; 
	width: 95%;
	margin: 10% auto;
	/*background: url('img/maxresdef.jpg') repeat-y fixed;*/
	font-family: 'Verdana';
}
.content{
	display: block;
	padding: 1% 0;
	background-color:rgba(193,204,239,.8);
	border-radius: 13px;
	overflow: auto;
}

p, h2{
	color: #082567;
}
h2, h2 a{
	text-indent: 60px;
	font-size: 1.3em;
    font-weight: bold;
}
h3, h3 a{
	padding: 4% 5% 3%;
	text-indent: 40px;
	font-size: 1.3em;
	color: #1f75fe;
}
h3:before{
	background-color:#1f75fe;
	width:18px;
	height:18px;
	content:"";
	float:left;
	margin: .6% .5% 0 0;
	overflow:hidden;
}
h4{
	padding: 20px 65px;
	text-indent: 40px;
	font-size: 1.3em;
	color: #8533ff;
}
h4:before{
	background-color:#8533ff;
	width:18px;
	height:18px;
	content:"";
	float:left;
	margin:6px 6px 0 19px;
	overflow:hidden;
}
h4{
	background: url(./img/1.png) 0px 9px no-repeat;
}
h1,h2,h3,h4{
	/*color:#082567;*/
	font-family: 'Open Sans', sans-serif;
}
p {
	text-indent: 20px; /* Отступ первой строки в пикселах */
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	padding: .5% 1.5%;
	color:#000;
}
#def001{
	border: 2px dashed red;
	border-radius: 25px;
	padding: 25px;
	margin: 30px 0;
	background-color: rgba(255,143,162,.5);
	font-weight: bold;
}
#titdef001{
	border: 2px dotted rgba(189,0,120,.9);
	border-radius: 15px;
	padding: 0 10px;
	background-color: rgba(255,143,162,.4);
	font-weight: bold;
}
.dec:hover{
	font-weight: bolder;
}
figure{
	font-size: 1em
}
figure img{
	margin: 3% auto;
	width: 75%;
}
img{
	display: block;
	border-radius: 10px;
}
figure img{
	filter: drop-shadow(16px 13px 10px rgba(0, 0, 0, 0.4));
	-webkit-filter: drop-shadow(16px 13px 10px rgba(0, 0, 0, 0.4));
   	filter: brightness(.7) contrast(2.5) drop-shadow(16px 13px 10px rgba(0, 0, 0, 0.4));
    -webkit-filter: brightness(.7) contrast(2.5) drop-shadow(16px 13px 10px rgba(0, 0, 0, 0.4));
}
#crop001 img {
    padding: -700px 0 0 1000px;
}
figure img:hover{
    filter: hue-rotate(270deg) drop-shadow(16px 13px 10px rgba(0, 0, 0, 0.4));
        -webkit-filter: hue-rotate(270deg) drop-shadow(16px 13px 10px rgba(0, 0, 0, 0.4));
}
#poster01{
	position: absolute;
	width:25%;
	top: 10%;
	left: 74%;

}
figcaption {
	width: 65%;
	display: block;
	background-color: rgba(153,50,204,.3);
	border-radius: 20px;
	padding: 2%;
	margin: 1% auto;
}
.theory{
	border: 3px solid #1f75fe;
	/*border-bottom: 10px solid #8533ff;*/
	border-radius: 50px;
	
}
.tasks{
	border: 3px solid #8533ff;
	/*border-top: 10px solid #1f75fe;*/
	border-radius: 50px;
	margin-top: 5%;	
}
.breadcrumb, .theory, .tasks {
	margin: 5%;
	padding: 5%;
}

.breadcrumb {
	/*margin:1% 2%;*/
	/*font-family: 'Roboto', sans-serif;*/
	/*font-size: 1.2em;*/
	/*font-weight: bold;*/
	/*color:rgb(47, 79, 79);*/
	background: rgba(0, 128, 128,.5);
	padding:10px 8px;
	/*border-radius: 5px*/
}
/*.breadcrumb a:hover{
	color:#F08080;
}
.breadcrumb a:visited{
	color:rgb(47, 79, 79);
}*/
.numsrc{
	font-family: Verdana; 
	font-size: .9em; 
	font-weight: bolder; 
	text-align: right;
}
.toc{
	padding: 0 0;
}
h1:nth-child(1){
	margin: 2% 3%;
}

.toc h2{
	font-weight: bold;
	font-size: 1.1em;
	margin: 10px 0;
}

.toc a{
	text-decoration: none;
	color: #2B6CC4;
}
.toc a:link {
}
/*.toc a:active {
	color: #ff00ff;
}*/
.toc a:hover {
	color:#120A8F;
	text-decoration: underline;
}
/*.toc a:visited {
	color: #8B0000;
	text-decoration: none;
} */
/*
.dva a{
  position: relative;
}
.dva a:after {
  content: "";
  position: absolute; top: 0; left: -2em;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(193,204,239,.3), rgba(193,204,239,.8), rgba(193,204,239,.3)) no-repeat -2em 0%;
  background-size: 2em 100%;
  transform: skewX(-50deg);
}
.dva a:hover:after {
  transition: .5s linear;
  background-position: 100% 0%;
}

*/